<div class="subject-show-container">
  <%= link_to subjects_path, class: "back-to-subjects-link", "aria-label" => "Back to subjects" do %>
    <i class="fas fa-arrow-left"></i> <!-- Icon of left arrow -->
  <% end %>
  <h1 class="title"><%= @subject.title %></h1>
  <!-- Subject Details -->
  <div class="subject-details">
    <div class="message-header">
      <%= image_tag "user.png", alt: "Profile image", class: "profile-image" %>
      <span class="message-user"><strong><%= @subject.user.name %></strong></span>
      <% if user_signed_in? && current_user == @subject.user %>
        <div class="subject-buttons">
          <% if @subject.created_at >= 5.minutes.ago %>
            <%= link_to edit_subject_path(@subject), class: "edit-subject-link", "aria-label" => "Edit subject" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
          <% end %>
          <%= button_to "X", subject_path(@subject), method: :delete, data: { confirm: "Are you sure?" }, class: "close-button" %>
        </div>
      <% end %>
    </div>
    <div class="message-content">
      <%= @subject.content %>
    </div>
  </div>
  <div class="ligne"></div>

  <!-- List of Messages -->
  <ul class="message-list">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <li class="message">
        <div class="message-header">
          <%= image_tag "user.png", alt: "User profile image", class: "profile-image" %>
          <span class="message-user"><%= message.user.name %></span>
          <% if user_signed_in? && current_user == message.user %>
            <% if message.created_at >= 5.minutes.ago %>
              <%= link_to edit_subject_message_path(@subject, message), class: "edit-message-link", "aria-label" => "Edit message" do %>
                <i class="fa fa-pencil-alt"></i>
              <% end %>
            <% end %>
            <%= button_to "X", subject_message_path(@subject, message), method: :delete, data: { confirm: "Are you sure?" }, class: "close-button" %>
          <% end %>
        </div>
        <% if message.quoted_message %>
          <div class="quoted-preview" style="position: relative; top: -10px; left: 20px; z-index: 1;">
            <%= render partial: "messages/quote_preview", locals: { message: message } %>
          </div>
        <% end %>
        <div class="message-content">
          <%= message.content %>
          <br>
          <small class="message-date"><%= message.created_at.strftime("%d %b %Y %H:%M") %></small>
          <%= link_to '#', class: "quote-link", data: { 
            subject_id: @subject.id, 
            message_id: message.id, 
            content: message.content, 
            username: message.user.name, 
            date: message.created_at.strftime("%d %b %Y %H:%M") 
          } do %>
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Reply
          <% end %>
        </div>
      </li>
    <% end %>
  <% else %>
    <p>No messages to display.</p>
  <% end %>
</ul>


  <!-- Form for Creating a New Message -->
  <div class="new-message-form">
  <div id="quote-display" style="display: none;">Citations will appear here</div>
  <%= form_with(model: [@subject, Message.new], local: true) do |form| %>
    <%= form.hidden_field :quote_id, id: "quote_id" %>
      <div class="field">
        <%= form.label :content, "Message:" %>
        <%= form.text_area :content, class: "message-content-textarea" %>
      </div>
      <div class="actions">
        <%= form.submit "Add Message", class: "submit-button" %>
      </div>
    <% end %>
</div>
