<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "custom-form" }) do |f| %>
  <% if resource.errors.any? %>
    <div class="error-explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this login from being successful:</h2>
      <ul>
        <% resource.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-text-input" %>
  </div>

  <div class="form-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-text-input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-field">
      <%= f.check_box :remember_me, class: "remember-me-checkbox" %>
      <%= f.label :remember_me, class: "remember-me-label" %>
    </div>
  <% end %>


  <div class="form-actions">
    <%= f.submit "Log in", class: "form-submit-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
